<%- include('../../includes/_top.ejs') %>
<%- include('../../includes/_aside.ejs') %>
<%- include('../../includes/_header.ejs') %>


<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Becued Escrow Wallet</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="javascript:void()" class="btn btn-icon btn-trigger toggle-expand mr-n1"
                                    data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="default-04"
                                                    placeholder="Quick search by id">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="drodown">
                                                <a href="javascript:void()"
                                                    class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                                                    data-toggle="dropdown">Status</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a href="javascript:void()"><span>Accepted</span></a></li>
                                                        <li><a href="javascript:void()"><span>Pending</span></a></li>
                                                        <li><a href="javascript:void()"><span>Declined</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-tb-list is-separate is-medium mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col"><span>ID</span></div>
                            <div class="nk-tb-col tb-col-md"><span>Date</span></div>
                            <div class="nk-tb-col"><span class="d-none d-mb-block">Status</span></div>
                            <div class="nk-tb-col tb-col-sm"><span>Report</span></div>
                            <div class="nk-tb-col tb-col-md"><span>Service</span></div>
                            <div class="nk-tb-col"><span>Total</span></div>

                        </div><!-- .nk-tb-item -->


                        <% if(data.length > 0) {%>

                        <% data.forEach(record => { %>

                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                    <label class="custom-control-label" for="uid1"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-lead"><a
                                        href="javascript:void()"><%= record.sessionId.substring(0,15)+"..." %>
                                    </a></span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub"><%= new Date(record.created_at).toLocaleString('en-GB', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    }) %> </span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="dot bg-warning d-mb-none"></span>
                                <span class="badge badge-sm badge-dot has-bg
                                    <%= record.status == 'credit' ? 'badge-primary' : 'badge-danger'%>
                                     d-none
                                    d-mb-inline-flex"><%= record.status %></span>
                            </div>
                            <div class="nk-tb-col tb-col-sm">
                                <span class="tb-sub"><%= record.report.substring(0,50)+"..." %></span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub"><%= record.activity %></span>
                            </div>
                            <div class="nk-tb-col">
                                <span
                                    class="tb-lead <%= record.status == 'credit' ? 'text-primary' : 'text-danger'%>">₦<%= parseFloat(record.amount).toFixed(2) %></span>
                            </div>

                        </div>

                        <% }); %>

                        <% } else { %>

                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                    <label class="custom-control-label" for="uid1"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-lead"><a href="javascript:void()">#</a></span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub">#</span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="dot bg-warning d-mb-none"></span>
                                <span
                                    class="badge badge-sm badge-dot has-bg badge-warning d-none d-mb-inline-flex">#</span>
                            </div>
                            <div class="nk-tb-col tb-col-sm">
                                <span class="tb-sub">#</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-sub">#</span>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-lead">#</span>
                            </div>

                        </div>

                        <% } %>


                    </div><!-- .nk-tb-list -->

                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->


<%- include('../../includes/_footer.ejs') %>
<%- include('../../includes/_bottom.ejs') %>