<%- include('../../includes/_top.ejs') %>
<%- include('../../includes/_aside.ejs') %>
<%- include('../../includes/_header.ejs') %>


<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Celebrity Earnings</h3>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="javascript:void()" class="btn btn-icon btn-trigger toggle-expand mr-n1"
                                    data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        <li>
                                            <div class="form-control-wrap">
                                                <div class="form-icon form-icon-right">
                                                    <em class="icon ni ni-search"></em>
                                                </div>
                                                <input type="text" class="form-control" id="default-04"
                                                    placeholder="Quick search by id">
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->

                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-tb-list is-separate is-medium mb-3">
                        <div class="nk-tb-item nk-tb-head">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid">
                                    <label class="custom-control-label" for="uid"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col"><span>Celeb Id</span></div>
                            <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
                            <div class="nk-tb-col"><span>Total earnings</span></div>
                            <div class="nk-tb-col"><span>Date and Time</span></div>

                        </div><!-- .nk-tb-item -->

                        <% if(data.length > 0) { %>
                        <% data.forEach(record => { %>

                        <% if(record.celebs != null) { %>
                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                    <label class="custom-control-label" for="uid1"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-sub"><%= record.celebs._id %></span>
                            </div>


                            <div class="nk-tb-col tb-col-sm">
                                <span class="tb-lead">
                                    <a
                                        href='/dashboard/celebsprofile?_celebsuserId=<%= record.celebs._id %>'><%= record.celebs.fullname %></a></span>
                            </div>

                            <div class="nk-tb-col">
                                <span class="tb-lead">NGN <%= parseFloat(record.info.walletBalance).toFixed(2) %></span>
                            </div>

                            <div class="nk-tb-col">
                                <span class="tb-lead"><%= new Date(record.info.created_at).toLocaleString('en-GB', {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric'
    }) %></span>
                            </div>

                        </div>
                        <% }%>


                        <% }); %>



                        <% } else { %>
                        <div class="nk-tb-item">
                            <div class="nk-tb-col nk-tb-col-check">
                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                    <input type="checkbox" class="custom-control-input" id="uid1">
                                    <label class="custom-control-label" for="uid1"></label>
                                </div>
                            </div>
                            <div class="nk-tb-col">
                                <span class="tb-lead"><a href="javascript:void()">#</a></span>
                            </div>


                            <div class="nk-tb-col tb-col-sm">
                                <span class="tb-sub">#</span>
                            </div>

                            <div class="nk-tb-col">
                                <span class="tb-lead">#</span>
                            </div>

                            <div class="nk-tb-col">
                                <span class="tb-lead">#</span>
                            </div>

                        </div>

                        <% } %>

                    </div><!-- .nk-tb-list -->


                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->


<%- include('../../includes/_footer.ejs') %>
<%- include('../../includes/_bottom.ejs') %>